*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #fffcff;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	margin: 10px;
	padding: 20px;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 0 0 4px black;
	background-color: #50514f;
}

.panel {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #50514f;
}

.startbtn {
	padding: 20px 60px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #247ba0;
    color: #fffcff;
    cursor: pointer;
}

.gameover {
	display: none;
}

.memory {
	margin-bottom: 20px;
	color: #fffcff;
	text-transform: uppercase;
	font-size: 4.5rem;
}

.iconbtn {
	margin: 10px 10px;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	border-radius: 5px;
	perspective: 1200px;
	background-color: #247ba0;
	cursor: pointer;
	transition: transform 0.3s;
}

button:hover {
	background-color: #3095c1;
}

.button-rotate {
	transform: rotateY(180deg);
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.fa-solid {
	padding: 10px;
	font-size: 6rem;
	pointer-events: none;
	color: white;
	opacity: 0;
	transition: opacity 0.3s;
}

.fa-solid-show {
	transform: rotateY(180deg);
	opacity: 1;
}

.time {
	margin-bottom: 15px;
	font-size: 4rem;
	color: white;
}
