*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
}

.main-wrap {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 1200px;
    margin: 0 20px;
	background-color: rgb(255, 255, 255);
}

.logo {
	position: absolute;
	top: 20px;
	text-align: center;
	// top: 30px;
	// left: 10px;
}

.logo h1 {
	font-size: 3rem;
}

.buttons {
	display: flex;
	position: absolute;
	top: 80px;
	right: 50%;
	transform: translateX(50%);
}

button {
    margin: auto 5px;
	padding: 10px 20px;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.233);
}

.empty {
    position: absolute;
    text-align: center;
    font-size: 2.2rem;
}

.empty-hidden {
    display: none;
}

.notes {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // flex-direction: row;
    justify-content: center;
    // flex-wrap: wrap;
    top: 200px;
}

.note {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 4px black;
    font-size: 1.5rem;
}

.notes p {
    text-align: center;
    font-size: 2.5rem;
}

.note button {
    position: absolute;
    top: 0px;
    right: -5px;
    border: none;
    background: none;
    padding: 5px;
}

.note h2{
    overflow-wrap: break-word;
    font-size: 1.6rem;
}

.note p{
    inline-size: 200px;
    text-align: left;
    overflow-wrap: break-word;
}

.note-yellow {
    background-color: rgba(245, 245, 0, 0.475);
}

.note-green {
    background-color:  rgba(9, 255, 0, 0.475);
}

.note-red {
    background-color:  rgba(255, 5, 5, 0.475);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    text-align: center;
    background-color: white;
    z-index: -100;
    opacity: 0;
    transition: opacity 0.3s;
}

.wrapper-show {
    opacity: 1;
    z-index: 100;
}

.wrapper h2{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;   
}

.wrapper p {
    margin: 5px 0;
    font-size: 1.2rem;
    color: rgba(10, 1, 1, 0.599);
}

.wrapper .note-input {
    width: 100%;
    padding: 5px 0;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 1.8rem;
}

.wrapper .select-type option {
    font-size: 1.5rem;
}

.wrapper textarea {
    resize: vertical;
}

.wrapper .error {
    display: none;
    font-size: 1.5rem;
    color: rgb(255, 191, 0);
}

.wrapper .error-show {
    display: block;
}

.add-btns {
    margin-top: 30px;
}


@media (min-width: 768px) {
	.logo {
		position: absolute;
		top: 20px;
		left: 30px;
	}

    .buttons {
        top: 20px;
        right: 150px;
    }

    button {
        font-size: 1.8rem;
    }

    .notes {
        grid-template-columns: repeat(3, 1fr);
    }

    .note {
        font-size: 2rem;
        width: 220px;
    }

    .note h2 {
        font-size: 2.5rem;
    }

    .empty {
        font-size: 3.5rem;
    }

    .note button {
        font-size: 2rem;
    }

    .wrapper {
        width: 400px;
    }

    .wrapper .error {
        font-size: 1.8rem;
    }
}

@media(min-width: 992px) {
    .notes {
        grid-template-columns: repeat(4, 1fr);
    }
}